.filter {
    border: 4px #71277d solid;
    border-radius: 10px;
    padding: 0px 10px 14px;
    margin: 10px 0 20px 0;
}

.strategy {
    margin-top: 16px;
}

.next-strategy {
    cursor: pointer;
}

.strategy-hint {
    font-style: italic;
    margin-top: 10px;
    margin-left: 14px;
}