.filter {
    border: 4px #71277d solid;
    border-radius: 10px;
    padding: 0px 10px 14px;
    margin: 10px 0 20px 0;
}

.strategy {
    margin-top: 16px;
}

.next-strategy {
    cursor: pointer;
}

.strategy-hint {
    font-style: italic;
    margin-top: 10px;
    margin-left: 14px;
}

.item-container {
    margin: 14px 0 0;
}

.item-toggle {
    cursor: pointer;
    display: inline-block;
    margin: 3px 0;
}

.item-toggle:hover {
    background-color: #d87272;
    color: #0c0b0b;
}

.item-type-active {
    background-color: #90caa0;
    color: #0c0b0b;
    border-color: #673b7d !important;
}

.socket-count {
    font-size: 20px;
    display: inline-block;
    width: 20px;
    text-align: -webkit-center;
    border: 1px solid #d0c7c6;
    border-radius: 12px;
    margin: 3px 2px;
    cursor: pointer;
}

.socket-active {
    background-color: #90caa0;
    color: #0c0b0b;
    border-color: #673b7d !important;
}

.socket-count:hover {
    background-color: #d87272;
    color: #0c0b0b;
}

.filter-count {
    font-size: 26px;
}